{% extends 'base.html.twig' %}

{% block title %}Mon compte - La Boutique Française{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    Bienvenue dans votre compte {{app.user.firstname}}.<br>
    C'est dans cet espace que vous pouvez gérer vos informations personnelles.
    <hr>
    {% if is_granted('ROLE_ADMIN' )%}
    <div class='text-decoration-none text-center mb-5 ' ><small><a href="{{ path('admin') }}" class='text-decoration-none'>vous êtes administrateur, accéder au backoffice.</a></small></div> <br>
    {% endif %}

<div class="row">
    <div class="col-md-4">
        <div class="account-item text-center">
            <img src="{{asset('assets/img/mdp.png')}}" alt="Modifier votre mot de passe"><br>
            <a href="{{ path('app_account_password') }}">Modifier votre mot de passe.</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="account-item text-center">
            <img src="{{asset('assets/img/emplacement.png')}}" alt="Gérer vos adresses"><br>
            <a href="{{ path('app_account_adress') }}">Gérer vos adresses.</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="account-item text-center">
            <img src="{{asset('assets/img/boite.png')}}" alt="Mes commandes"><br>
            <a href="{{ path('app_account_order') }}">Mes commandes.</a>
        </div>
    </div>
</div>

{% endblock %}
